body {
	font-family: proxima-nova, sans-serif;
	font-size: 13pt;
	font-style: normal;
	font-weight: 100;
	transition: background-color 0.5s;
	background-color: #FFFFFF;
}

a {
	text-decoration: none;
	color: black;
}

.header {
	display: flex;
	flex-direction: row;
	margin: 20px 0px 53px 0px;
	/* opacity: 0; */
}

.credit {
	margin-left: auto;
	margin-right: 10px;
}

.container {
	display: flex;
	height: 92vh;
}

.about {
	margin: 50px 0px 0px 60px;
	width: 640px;
	opacity: 1;
}

.about-header {
	font-size: 40pt;
	line-height: 45pt;
	letter-spacing: -0.5px;
	margin-bottom: 35px;
	/* opacity: 0; */
}

.about-text {
	/* opacity: 0; */
}

.about-link {
	text-decoration: underline;
	z-index: 0;
}

.about-link:hover {
	color: #5D00D6;
}

.header-line {
	height: 1px;
	width: 100%;
	margin-top: -40px;
	background-color: black;
	opacity: 0.5;
	margin-right: 0px;
}

.header-container {
	margin: 0px 30px 0px 30px;
}

.projects {
	width: 330px;
	height: 79.5%;
}

.first-card {
	display: flex;
	flex-direction: column;
	height: 21%;
	justify-content: flex-end;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	margin: 30px 0px 0px 30px;
}

.card {
	display: flex;
	flex-direction: column;
	height: 21%;
	justify-content: flex-end;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	margin: 15px 0px 0px 30px;
}

.card-header {
	font-size: 16pt;
	line-height: 25pt;
	margin-left: 30px;
}

.card-blurb {
	font-size: 11pt;
	line-height: 15pt;
	margin: 0px 20px 23px 30px;
}

/*===== INDIVIDUAL CARDS =====*/

#amtrak {
	background-color: transparent;
	color: black;
	text-decoration: none;
}

/*===== FADE INS =====*/

.theia-img {
	display: flex;
	position: absolute;
	margin-left: 20%;
	width: 76%;
	z-index: -1;
	opacity: 0;
}

.theia-img-file {
	width: 100%;
	margin-top: 2%;
}

.amtrak-img {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	margin-left: 22.25%;
	width: 73%;
	z-index: -1;
	opacity: 0;
}

.amtrak-img-file {
	width: 65%;
	margin-top: 6%;
	margin-right: 16%;
}


/*===== PROJECT PAGES =====*/

.back-button {
	margin: 30px 0 0 30px;
}

.back-button:hover {
	text-decoration: underline;
}

.top-project-container {
	display: flex;
	flex-direction: column;
	margin: 42% auto 55px auto;
	width: 63%;
}

.mid-project-container {
	display: flex;
	flex-direction: column;
	margin: 55px auto 55px auto;
	width: 63%;
}

.project-title {
	font-size: 45pt;
}

.divider {
	height: 1px;
	width: 100%;
	background-color: black;
	opacity: 0.6;
}

.intro-paragraph {
	margin: 40px 0 40px 0;
}

.body-paragraph {
	margin-top: 20px;
}

.subheader {
	font-size: 21px;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
}

.inset-image {
	width: 103.5%;
	margin-left: -8px;
}

.header-image {
	width: 100%;
	z-index: -1;
	position: absolute;
	margin-top: -30px;
	margin-left: -7px;
	opacity: 1;
}

.header-image-tablet {
	width: 100%;
	z-index: -1;
	position: absolute;
	margin-top: -30px;
	margin-left: -7px;
	opacity: 0;
}

.header-image-mobile {
	width: 100%;
	z-index: -1;
	position: absolute;
	margin-top: -30px;
	margin-left: -7px;
	opacity: 0;
}


/*===== MEDIA QUERIES =====*/

@media screen and (-webkit-min-device-pixel-ratio: 1),
and (min-device-width: 500px), 
and (max-device-width: 1600px) { } 
@media screen and (min-resolution: 192dpi) { }

@media screen and (min-width: 500px),
and (-webkit-min-device-pixel-ratio: 1) {
	/* PROJECT PAGES */
	.header-image-mobile {
		width: 100%;
		z-index: -1;
		position: absolute;
		margin-top: -30px;
		margin-left: -7px;
		opacity: 1;
	}

	.header-image-tablet {
		opacity: 0;
	}

	.header-image {
		opacity: 0;
	}

	.top-project-container {
		display: flex;
		flex-direction: column;
		margin: 77% auto 55px auto;
		width: 83%;
	}
}

@media screen and (min-width: 600px) 
and (-webkit-min-device-pixel-ratio: 1) {
	/* PROJECT PAGES */
	.header-image-mobile {
		width: 100%;
		z-index: -1;
		position: absolute;
		margin-top: -30px;
		margin-left: -7px;
		opacity: 1;
	}

	.header-image-tablet {
		opacity: 0;
	}

	.header-image {
		opacity: 0;
	}

	.top-project-container {
		display: flex;
		flex-direction: column;
		margin: 85% auto 55px auto;
		width: 83%;
	}
}

@media screen and (min-width: 800px)
and (-webkit-min-device-pixel-ratio: 1) {
	/* PROJECT PAGES */
	.header-image-mobile {
		opacity: 0;
	}

	.header-image-tablet {
		width: 100%;
		z-index: -1;
		position: absolute;
		margin-top: -30px;
		margin-left: -7px;
		opacity: 1;
	}

	.header-image {
		opacity: 0;
	}

	.top-project-container {
		display: flex;
		flex-direction: column;
		margin: 62% auto 55px auto;
		width: 83%;
	}
}

@media screen and (min-width: 970px) 
and (-webkit-min-device-pixel-ratio: 1) {
	/* HOMEPAGE - SWITCH TO MOBILE MODE */
	.container {
		display: flex;
		flex-direction: column;
		height: 1180px;
	}

	.container div:first-child {
		order: 1;
	}

	.container div:last-child {
		order: 2;
	}

	.about {
		margin: 50px auto 0px auto;
		width: 80%;
		opacity: 1;
	}

	.projects {
		width: 80%;
		height: 725px;
		margin: 0 auto 0 auto;
	}

	.first-card {
		display: flex;
		flex-direction: column;
		height: 130px;
		justify-content: flex-end;
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		margin: 15px 0px 0px 0px;
	}

	.card {
		display: flex;
		flex-direction: column;
		height: 130px;
		justify-content: flex-end;
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		margin: 15px 0px 0px 0px;
	}

	.card-header {
		font-size: 16pt;
		line-height: 25pt;
		margin-left: 30px;
	}

	.card-blurb {
		font-size: 11pt;
		line-height: 15pt;
		margin: 0px 20px 23px 30px;
	}

	/* PROJECT PAGES */
	.header-image-mobile {
		opacity: 0;
	}

	.header-image-tablet {
		opacity: 0;
	}

	.header-image {
		width: 100%;
		z-index: -1;
		position: absolute;
		margin-top: -30px;
		margin-left: -7px;
		opacity: 1;
	}

	.top-project-container {
		display: flex;
		flex-direction: column;
		margin: 39% auto 55px auto;
		width: 70%;
	}

	.mid-project-container {
		display: flex;
		flex-direction: column;
		margin: 55px auto 55px auto;
		width: 70%;
	}
}

@media screen and (min-width: 1000px) 
and (-webkit-min-device-pixel-ratio: 1) {
	/* PROJECT PAGES */
	.header-image-mobile {
		opacity: 0;
	}

	.header-image-tablet {
		opacity: 0;
	}

	.header-image {
		width: 100%;
		z-index: -1;
		position: absolute;
		margin-top: -30px;
		margin-left: -7px;
		opacity: 1;
	}

	.top-project-container {
		display: flex;
		flex-direction: column;
		margin: 39% auto 55px auto;
		width: 70%;
	}

	.mid-project-container {
		display: flex;
		flex-direction: column;
		margin: 55px auto 55px auto;
		width: 70%;
	}

	.divider {
		height: 1px;
		width: 100%;
		background-color: black;
		opacity: 0.6;
	}

	.intro-paragraph {
		margin: 40px 0 40px 0;
	}

	.body-paragraph {
		margin-top: 20px;
	}
}

@media screen and (min-width: 1300px) 
and (-webkit-min-device-pixel-ratio: 1) {
	/* HOMEPAGE */
	.container {
		position: relative;
		margin: 0px;
		display: flex;
		height: 92vh;
	}

	.theia-img {
		position: absolute;
		margin-right: 0%;
		z-index: -1;
		opacity: 0;
	}

	.theia-img-file {
		width: 90%;
		margin-top: 100px;
		margin-left: 13%;
		object-fit: cover;
	}

	.amtrak-img {
		position: absolute;
		margin-left: 22.25%;
		width: 73%;
		z-index: -1;
		opacity: 0;
	}

	.amtrak-img-file {
		width: 65%;
		margin-top: 150px;
		margin-right: 10%;
	}

	/* PROJECT PAGES */
	.header-image-mobile {
		opacity: 0;
	}

	.header-image-tablet {
		opacity: 0;
	}

	.header-image {
		width: 100%;
		z-index: -1;
		position: absolute;
		margin-top: -30px;
		margin-left: -7px;
		opacity: 1;
	}

	.top-project-container {
		display: flex;
		flex-direction: column;
		margin: 42% auto 55px auto;
		width: 63%;
	}

	.mid-project-container {
		display: flex;
		flex-direction: column;
		margin: 55px auto 55px auto;
		width: 63%;
	}
}
